 body {
            text-align: center;
            font-family: 'Gugi', cursive;
            background: linear-gradient(to right, #fffb00, #061af8);

        }

        div {
            border: 2px solid #1f1bff;
            margin: 10px;
            padding: 5px 30px;
             border-radius: 15px;
             box-shadow: 10px 10px #333899;


        }

        #principal {
            width: 50px;
            float: left;
            border-radius: 50%;

        }
        div h3{
            font-family: "TASA Explorer", sans-serif;
            text-shadow: 10px 10px #999;

        }
        .Cursos{
            text-shadow: 8px 8px #999;
        }